<div style="margin: 2%;">
  <p>Harare City</p>

  <div class="card col-md-4">
    <div class="card-header">
      <h3 class="card-title">Stand Details</h3>
      <div card-category>Harare lands</div>
    </div>
    <div class="card-content">
    <p>More Detail</p>
  <div id="popup-content">coordinates clicked</div>

    </div>
    </div>
    <br>
   

<div id="stands_map" class="map"></div>

<div id ="overlay"  popoverTitle="Stand Availabilty" ngbPopover="stand is available at $1200, check more!" placement="top">
  <div id ="headerpop" ><p>Location: Borrowdale Brooke 1232 alpes</p>
<p>Price: $12090</p>
  <p>Contact: +263 774291926</p>
  <p>Owner: Harare Lands</p>
  <a href="#routerlinkStand">Buy Now</a><br/>
  </div>
</div>




</div>


